[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/plugins/gitstatus"]
	path = zsh/plugins/gitstatus
	url = https://github.com/romkatv/gitstatus
